.selectricWrapper {
  position: relative;
  width: 321px;
  cursor: pointer;
}

.selectricResponsive {
  width: 100%;
}

.selectric {
  background: #F8F8F8;
  position: relative;

}

#gform_4 .selectric .label ,.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 33px 0 0;
  padding: 8px;
  font-size: 12px;
  line-height: 19px;
  color: #444;
  min-height: 18px;
  background:url("images/form_1-input-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  font-family:HelveticaNeue-CondensedBold;
  color:#fff;
  font-size:15px;
  text-indent:6px;
}

#gform_5 select {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 33px 0 0;
  padding: 8px;
  font-size: 12px;
  line-height: 19px;
  color: #444;
  min-height: 18px;
  background:url("images/form_1-input-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  font-family:HelveticaNeue-CondensedBold;
  color:#fff;
  font-size:15px;
  width:100%;
  height:auto;
  border:0px !important;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/30px Lucida Sans Unicode,Arial Unicode MS,Arial;
}

.selectric .button:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;

}
.selectric .button{  background:url(images/select-arrow.jpg);width:34px;height:35px;}
.selectric .button:hover{  background:url(images/select-arrow.jpg);width:34px;height:35px;}
.selectricHover .selectric {
  border-color: #CCC;
}

.selectricHover .selectric .button {
  color: #888;
}

.selectricHover .selectric .button:after {
  border-top-color: #888;
  
}

.selectricOpen {
  z-index: 9999;
}

.selectricOpen .selectric {
  border-color: #CCC;
  background: #F0F0F0;
  z-index: 9999;
}

.selectricOpen .selectricItems {
  display: block;
  background:#0093CB;
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectricHideSelect select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectricItems {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 100%;
  left: 0;
  background: #F9F9F9;
  z-index: 9998;
  box-shadow: 0 0 10px -6px;
  text-indent:7px;
  
}

.selectricItems ul,.selectricItems li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
  font-family:HelveticaNeue-CondensedBold;
  color:#fff;
  font-size:15px;
}

.selectricItems li {
  display: block;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.selectricItems li.selected {
  color: #fff;
  border-top-color: #E0E0E0;
}

.selectricItems li:hover {
    color: #ccc !important;
}

.selectricItems li.disabled {
  background: #F5F5F5;
  color: #BBB;
  border-top-color: #FAFAFA;
  cursor: default;
}
#field_2_4 .selectricWrapper{width:auto;}
#gform_3 .selectricWrapper{width:auto;}
